
body{
   
  text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;

}
.container{
    text-align: center;
   
}
h1{
    font-size:50px;
    color: #7D1C4A;
}
.color-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
  
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #143D60;
    border-radius: 10px;
    cursor: pointer;
}
#grey{
    background-color: #F4F8D3;
}
#white{
    background-color: white;
}
#blue{
    background-color:#A6D6D6;
}
#yellow{
    background-color:  #8E7DBE;
}
pre{
    font-size: 18px;
    margin-top: 40px;
    color: #27391C;

}